body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;

  background-color: #ebe2d8;
  color: #ff0000;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.actions {
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
}

input {
  width: 100px;
  margin-left: 5px;
}

a {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
